<template>
  <div class="card-wrapper">
    <div class="card" :class="{desktop: desktop}">
      <div class="card-header">
        <div class="card-status color-primary">
          <i class="material-icons icon-size">thumb_up</i>
          <span class="amount">{{ likes }}</span>
        </div>
        <div class="card-status color-secondary">
          <i class="material-icons icon-size">thumb_down</i>
          <span class="amount">{{ dislikes }}</span>
        </div>
        <span class="spacer"></span>
        <div class="card-status color-secondary">
          <span class="amount">{{ seen }}</span>
          <i class="material-icons icon-size">remove_red_eye</i>
        </div>
      </div>
      <div class="card-media">
        <img :src="src" class="image">
      </div>
      <div class="card-title">
        <span class="header">{{ title }}</span>
      </div>
      <div class="divider"></div>
      <div class="card-description hover">
        <span class="description">{{ description }}</span>
      </div>
      <div class="divider hover"></div>
      <div class="card-actions">
        <div class="cost">{{ cost }}</div>
        <div class="sell-status">
          <span v-if="status" class="status-on">Сатылуда</span>
          <span v-else class="status-off">Тоқтатулы</span>
        </div>
        <div class="button hover">Тіркеу</div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    likes: {
      type: Number,
      required: true
    },
    dislikes: {
      type: Number,
      required: true
    },
    seen: {
      type: Number,
      required: true
    },
    src: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    cost: {
      type: String,
      required: true
    },
    status: {
      type: Boolean,
      required: true
    },
    description: {
      type: String,
      required: true
    },
    desktop: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
    }
  },
}

</script>

<style lang="scss" scoped>
/*
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
*/

$text-color: #555555;

/* card */

$card-height: 360px;
$card-border-radius: 2px;
$card-section-vertical-padding: 10px;
$card-section-horizontal-padding: 16px;
$card-status-icon-size: 16px;
$card-status-space-between: 15px;
$card-status-items-space-between: 5px;
$card-media-image-height: 200px;
$card-media-image-overflow-length: 10px;
$card-title-font-size: 19px;
$card-divider-height: 1px;
$card-divider-color: #606060;
$card-background-color: #f5f5f5;
$color-primary: #ff3b72;
$color-secondary: #999999;
$status-on-color: #0b9a00;
$status-off-color: #ff1664;
$booking-button-color: #787878;
$booking-button-background-color: #e4e4e4;
$booking-button-hover-color: white;
$booking-button-hover-background-color: #3f96ff;
$booking-button-height: 36px;
$booking-button-margin-top: 16px;
$booking-button-border-radius: 3px;

/* Switch */
$toggle-transition: .4s;
$toggle-off-background-color: #ccc;
$toggle-off-round-background-color: white;
$toggle-on-background-color: #bae0c1;
$toggle-on-round-background-color: #0b9a00;
$toggle-width: 50px;
$toggle-height: 29px;
$toggle-line-length: 4px;
$toggle-circle-diameter: 20px;

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.material-icons.icon-size {
  font-size: $card-status-icon-size;
}

.card-wrapper {
  display: inline-block;
  height: $card-height;
  position: relative;
}

.card {
  transition: all 100ms ease;
  min-height: $card-height;
  position: absolute;
  color: $text-color;
  border-radius: $card-border-radius;
  display: inline-block;
  background: $card-background-color;
  margin-left: $card-media-image-overflow-length;
  margin-right: $card-media-image-overflow-length;

  > *:not(.divider) {
    display: flex;
    padding-top: $card-section-vertical-padding;
    padding-bottom: $card-section-vertical-padding;
    padding-left: $card-section-horizontal-padding;
    padding-right: $card-section-horizontal-padding;
  }

  > *:first-child:not(.btn) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  > *:last-child:not(.btn) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .card-header {
    height: 30px;
  }

  .card-media {
    padding: 0;
    margin-left: -$card-media-image-overflow-length;
    margin-right: -$card-media-image-overflow-length;
    height: $card-media-image-height;
    .image {
      border-radius: $card-border-radius;
      width: 100%;
      height: 100%;
    }
  }

  .card-title {
    .header {
      font-size: $card-title-font-size;
    }
  }

  .card-actions {
    flex-wrap: wrap;
    align-items: center;
    padding-top: $card-section-vertical-padding;
    padding-bottom: $card-section-vertical-padding;
    padding-left: $card-section-horizontal-padding;
    padding-right: $card-section-horizontal-padding;

    .cost {
      font-size: 25px;
    }

    .sell-status {
      color: $color-secondary;
      font-size: 14px;
      width: 100%;
      display: flex;

      .status-on {
        color: $status-on-color;
      }

      .status-off {
        color: $status-off-color;
      }
    }

    .button {
      border-radius: $booking-button-border-radius;
      transition: all 200ms ease;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: $booking-button-height;
      background-color: $booking-button-background-color;
      color: $booking-button-color;
      margin-top: $booking-button-margin-top;
      cursor: pointer;

      &:hover {
        color: $booking-button-hover-color;
        background-color: $booking-button-hover-background-color;
      }
    }
  }

  .card-status {
    display: inline-flex;
    align-items: center;
    cursor: default;
    &:not(:first-child) {
      margin-left: $card-status-space-between / 2;
    }
    &:not(:last-child) {
      margin-right: $card-status-space-between / 2;
    }
    > * {
      &:not(:first-child) {
        margin-left: $card-status-items-space-between / 2;
      }
      &:not(:last-child) {
        margin-right: $card-status-items-space-between / 2;
      }
    }
  }

  .card-description {
    padding-top: $card-section-vertical-padding;
    padding-bottom: $card-section-vertical-padding;
    padding-left: $card-section-horizontal-padding;
    padding-right: $card-section-horizontal-padding;

    .description {
      text-align: justify;
    }
  }

  .divider {
    margin-left: $card-section-horizontal-padding;
    margin-right: $card-section-horizontal-padding;
    height: $card-divider-height;
    background-color: $card-divider-color;
  }

  .spacer {
    flex-grow: 1;
  }

  .hover {
    display: none !important;
  }

  &.desktop:hover {
    z-index: 100;
    transform: scale(1.02);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);

    .hover {
      display: flex !important;
    }
  }
}
</style>
