<template>
  <div class="card">
    <div class="card-header">
      <div class="card-status color-primary">
        <i class="material-icons icon-size">thumb_up</i>
        <span class="amount">{{ likes }}</span>
      </div>
      <div class="card-status color-secondary">
        <i class="material-icons icon-size">thumb_down</i>
        <span class="amount">{{ dislikes }}</span>
      </div>
      <span class="spacer"></span>
      <div class="card-status color-secondary">
        <span class="amount">{{ seen }}</span>
        <i class="material-icons icon-size">remove_red_eye</i>
      </div>
    </div>
    <div class="card-media">
      <img :src="src" class="image">
    </div>
    <div class="card-title">
      <span class="header">{{ title }}</span>
    </div>
    <div class="divider"></div>
    <div class="card-actions">
      <div class="cost">{{ cost }}</div>
      <span class="spacer"></span>
      <label class="switch" :class="{ checked: status }" @click="onToggleClick">
        <span class="slider round"></span>
      </label>
      <div class="sell-status">
        <div class="sell-average">{{ average }}</div>
        <span class="spacer"></span>
        <div class="sell-availble-status">
          <span v-if="status" class="status-on">{{ showOn }}</span>
          <span v-else class="status-off">{{ showOff }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  props: {
    likes: {
      type: Number,
      required: true
    },
    dislikes: {
      type: Number,
      required: true
    },
    seen: {
      type: Number,
      required: true
    },
    src: {
      type: String,
      required: true
    },
    title: {
      type: String,
      required: true
    },
    cost: {
      type: String,
      required: true
    },
    average: {
      type: String,
      required: true
    },
    status: {
      type: Boolean,
      required: true,
      default: false,
    },
    showOn: {
      type: String,
      required: true
    },
    showOff: {
      type: String,
      required: true
    },
    onToggleClick: {
      type: Function
    },
  },
  data () {
    return {
    }
  },
}

</script>

<style lang="scss" scoped>
/*
@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}
*/

$text-color: #333333;

/* card */

$card-border-radius: 2px;
$card-section-vertical-padding: 10px;
$card-section-horizontal-padding: 16px;
$card-status-icon-size: 16px;
$card-status-space-between: 15px;
$card-status-items-space-between: 5px;
$card-media-image-height: 200px;
$card-media-image-overflow-length: 10px;
$card-title-font-size: 19px;
$card-divider-height: 1px;
$card-divider-color: #606060;
$card-background-color: #f5f5f5;
$color-primary: #ff3b72;
$color-secondary: #999999;
$status-on-color: #0b9a00;
$status-off-color: #ff1664;

/* Switch */
$toggle-transition: .4s;
$toggle-off-background-color: #ccc;
$toggle-off-round-background-color: white;
$toggle-on-background-color: #bae0c1;
$toggle-on-round-background-color: #0b9a00;
$toggle-width: 50px;
$toggle-height: 29px;
$toggle-line-length: 4px;
$toggle-circle-diameter: 20px;

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.material-icons.icon-size {
  font-size: $card-status-icon-size;
}

.card {
  color: $text-color;
  border-radius: $card-border-radius;
  display: inline-block;
  position: relative;
  background: $card-background-color;
  margin-left: $card-media-image-overflow-length;
  margin-right: $card-media-image-overflow-length;

  > *:first-child:not(.btn) {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }

  > *:last-child:not(.btn) {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
  }

  .card-header {
    display: flex;
    padding-top: $card-section-vertical-padding;
    padding-bottom: $card-section-vertical-padding;
    padding-left: $card-section-horizontal-padding;
    padding-right: $card-section-horizontal-padding;
    height: 30px;
  }

  .card-media {
    margin-left: -$card-media-image-overflow-length;
    margin-right: -$card-media-image-overflow-length;
    height: $card-media-image-height;
    .image {
      border-radius: $card-border-radius;
      width: 100%;
      height: 100%;
    }
  }

  .card-title {
    display: flex;
    padding-top: $card-section-vertical-padding;
    padding-bottom: $card-section-vertical-padding;
    padding-left: $card-section-horizontal-padding;
    padding-right: $card-section-horizontal-padding;
    .header {
      font-size: $card-title-font-size;
    }
  }

  .card-actions {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: $card-section-vertical-padding;
    padding-bottom: $card-section-vertical-padding;
    padding-left: $card-section-horizontal-padding;
    padding-right: $card-section-horizontal-padding;

    .cost {
      font-size: 25px;
    }

    .sell-status {
      color: $color-secondary;
      font-size: 14px;
      width: 100%;
      display: flex;

      .status-on {
        color: $status-on-color;
      }

      .status-off {
        color: $status-off-color;
      }
    }
  }

  .card-status {
    display: inline-flex;
    align-items: center;
    cursor: default;
    &:not(:first-child) {
      margin-left: $card-status-space-between / 2;
    }
    &:not(:last-child) {
      margin-right: $card-status-space-between / 2;
    }
    > * {
      &:not(:first-child) {
        margin-left: $card-status-items-space-between / 2;
      }
      &:not(:last-child) {
        margin-right: $card-status-items-space-between / 2;
      }
    }
  }

  .divider {
    margin-left: $card-section-horizontal-padding;
    margin-right: $card-section-horizontal-padding;
    height: $card-divider-height;
    background-color: $card-divider-color;
  }

  .spacer {
    flex-grow: 1;
  }
}


.switch {
  position: relative;
  display: inline-block;
  width: $toggle-width;
  height: $toggle-height;

  input {
    display:none;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: ($toggle-height - $toggle-line-length) / 2;
    left: 0;
    right: 0;
    bottom: ($toggle-height - $toggle-line-length) / 2;
    background-color: $toggle-off-background-color;
    -webkit-transition: $toggle-transition;
    transition: $toggle-transition;

    &.round {
      border-radius: $toggle-height;
    }

    &.round:before {
      border-radius: 50%;
    }

    &:before {
      position: absolute;
      content: "";
      height: $toggle-circle-diameter;
      width: $toggle-circle-diameter;
      left: 0;
      top: -$toggle-circle-diameter / 2 + $toggle-line-length / 2;
      background-color: $toggle-off-round-background-color;
      -webkit-transition: $toggle-transition;
      transition: $toggle-transition;
    }
  }

  &.checked .slider {
    background-color: $toggle-on-background-color;
    &:before {
      background-color: $toggle-on-round-background-color;
    }

    &:before {
      -webkit-transform: translateX($toggle-width - $toggle-circle-diameter);
      -ms-transform: translateX($toggle-width - $toggle-circle-diameter);
      transform: translateX($toggle-width - $toggle-circle-diameter);
    }
  }
}
</style>
