<template>
  <div id="app">
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
    <good-card
      class="mycard"
      :likes="303"
      :dislikes="210"
      :seen="1022"
      :src="'https://fthmb.tqn.com/1SIeOmQgbF5RfcWwCb1yIfYmY9s=/2550x1694/filters:no_upscale()/baguette-2500-56a20ec75f9b58b7d0c61ca9.JPG'"
      :title="'Ұзын нан'"
      :cost="'230тг'"
      :status="false"
      :description="'Ерте-ерте ертеде, лама жүні келтеде, «Мәриям» кафесінің асханасында, жарты кесе шай тұрыпты. Сорлының көрген күні құрысын: иә ешкім ішіп қоймайд, иә ыдыс жуушылар назар аудармайд, солай тұра беріпті.'"
    ></good-card>
  </div>
</template>

<script>
import GoodCard from './components/GoodCard'

export default {
  name: 'app',
  data () {
    return {
      isAvailable: false,
    }
  },
  components: {
    GoodCard
  },
  methods: {
    testMethod: function () {
      this.isAvailable = !this.isAvailable
    }
  }
}
</script>

<style lang="scss">
.mycard {
  width: 250px;
}
</style>
